<svg class="fullsvg modal-svg" viewBox="0 0 100 100">
    <image *ngIf="mob === 'skeleton'" (click)="nextClick()"
       width="40.899921"
       height="67.834015"
       preserveAspectRatio="none"
       xlink:href="assets/skeleton.png"
       id="image128"
       x="29.550039"
       y="16.082993" />
    <g id="hits">
        <circle
            style="opacity:1;vector-effect:none;fill:#880000;fill-opacity:1;stroke:none;stroke-width:5.6692915;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
            id="path16"
            cx="67.946426"
            cy="57.589287"
            r="6.1607141" />
        <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.3057642px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.38646615"
            x="68.087326"
            y="61.428574"
            id="text20"><tspan
            id="tspan18"
            x="68.087326"
            y="61.428574"
            style="stroke-width:0.38646615">{{life}}</tspan></text>
    </g>
    <g
       id="actions">
        <circle
            r="6.1607141"
            cy="73.482147"
            cx="29.55357"
            id="circle22"
            style="opacity:1;vector-effect:none;fill:#008800;fill-opacity:1;stroke:none;stroke-width:5.6692915;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
        <text
            id="text26"
            y="77.321434"
            x="29.694469"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.3057642px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.38646615"
            xml:space="preserve"><tspan
            style="stroke-width:0.38646615"
            y="77.321434"
            x="29.694469"
            id="tspan24">{{actions.length}}</tspan></text>
    </g>
    <g id="action" *ngIf="action">
        <rect
            style="opacity:0.6;vector-effect:none;fill:#000000;fill-opacity:1;stroke:none;stroke-width:5.6692915;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
            id="rect68"
            width="54.285713"
            height="10.178572"
            x="22.857143"
            y="85.535713"
            ry="4.7529593" />
        <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.3057642px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.38646615"
            x="50.1409"
            y="94.449402"
            id="text26-3"><tspan
            id="tspan24-6"
            x="50.1409"
            y="94.449402"
            style="stroke-width:0.38646615">{{action}}</tspan></text>
    </g>

    <g id="win" *ngIf="life === 0" (click)="done.emit()">
        <circle
            style="opacity:0.6;vector-effect:none;fill:#000000;fill-opacity:1;stroke:none;stroke-width:5.6692915;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
            id="path936"
            cx="50"
            cy="37.142857"
            r="18.839285" />
        <text
            id="text26-3-7"
            y="40.984875"
            x="50.13335"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.3057642px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.38646615"
            xml:space="preserve"><tspan
            style="stroke-width:0.38646615"
            y="40.984875"
            x="50.13335"
            id="tspan24-6-5">WIN</tspan></text>
    </g>

</svg>

<div class="panel-menu-list bottom-left-menu">
    <div class="stats" (click)="leftHandClick()">Staff</div>
</div>
