<svg:g id="itemcounter">
<svg:rect
    style="opacity:1;vector-effect:none;fill:#a05a2c;fill-opacity:1;stroke:none;stroke-width:5.68045282;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
    id="rect1287"
    width="87.742714"
    height="87.742714"
    x="17.365889"
    y="-8.5160208"
    ry="16.639814"
    transform="rotate(15)" />
<svg:rect
    ry="9.8223886"
    y="-1.4154553"
    x="24.466452"
    height="73.54158"
    width="73.54158"
    id="rect1289"
    style="opacity:1;vector-effect:none;fill:#a05a2c;fill-opacity:1;stroke:#552200;stroke-width:4.76107311;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
    transform="rotate(15)" />
<svg:g *ngIf="maxvalue">
    <svg:text
        id="text1976-0-3"
        y="97.208344"
        x="98.813484"
        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:42.66666794px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:end;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:end;display:inline;fill:#a05a2c;fill-opacity:1;stroke:#a05a2c;stroke-width:3;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;"
        xml:space="preserve"><svg:tspan
            y="97.208344"
            x="98.813484"
            id="tspan1974-9-6">{{maxvalue}}</svg:tspan></svg:text>
    <svg:text
        xml:space="preserve"
        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:42.66666794px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:end;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:end;display:inline;fill:#552200;fill-opacity:1;stroke:none;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;"
        x="98.813484"
        y="97.208344"
        id="text941-9-7"><svg:tspan
            id="tspan939-4-5"
            x="98.813484"
            y="97.208344">{{maxvalue}}</svg:tspan></svg:text>
</svg:g>
<svg:text
    id="text937-2-3"
    y="50.026649"
    x="61.246799"
    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;display:inline;fill:#552200;fill-opacity:1;stroke:none;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;"
    xml:space="preserve"
    transform="rotate(15)"><svg:tspan
        y="50.026649"
        x="61.246799"
        id="tspan935-9-5">{{value}}</svg:tspan></svg:text>
</svg:g>
