<svg:circle cx="50" cy="50" r="50" style="fill:cyan; opacity: 0;"></svg:circle>
<svg:g app-item-healing-stone *ngIf="item.name === 'healingStone'" [item]="item"></svg:g>
<svg:g app-item-mana-stone *ngIf="item.name === 'manaStone'" [item]="item"></svg:g>
<svg:g app-item-protect-poison-stone *ngIf="item.name === 'protectPoisonStone'" [item]="item"></svg:g>
<svg:g app-item-crystal *ngIf="item.name === 'crystal'" [item]="item"></svg:g>
<svg:g app-item-spirit-imp *ngIf="item.name === 'spiritImp'" [item]="item"></svg:g>
