<svg:g>
<svg:path
    id="path902-3"
    d="M 15.350365,5.174024 A 29.28933,29.28933 0 0 0 4.6297247,45.183989 L 33.919076,95.914605 84.649635,66.625264 A 29.28933,29.28933 0 0 0 95.370275,26.615299 29.28933,29.28933 0 0 0 55.360356,15.89468 29.28933,29.28933 0 0 0 15.350365,5.174024 Z"
    style="display:inline;opacity:1;vector-effect:none;fill:#00cc44;fill-opacity:1;stroke:none;stroke-width:3.60484076;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
<svg:text
    transform="rotate(15)"
    xml:space="preserve"
    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#006622;fill-opacity:1;stroke:none;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none"
    x="58.807468"
    y="50.680267"
    id="text937"><svg:tspan
        id="tspan935"
        x="58.807468"
        y="50.680267">{{action.value}}</svg:tspan></svg:text>
</svg:g>
