<app-home-village *ngIf="!shared.maze || shared.hero.life <= 0"></app-home-village>
<app-maze-map *ngIf="shared.maze && shared.hero.life > 0"></app-maze-map>
<div class="panel-menu-list top-left-menu">
    <div class="stats" (click)="shared.quitGame()">Q</div>
</div>
<div class="panel-menu-list top-right-menu">
    <div class="stats">L:{{shared.hero.life}}</div>
    <div class="stats">M:{{shared.hero.mana}}</div>
    <div class="stats" *ngIf="shared.hero.poison > 0">P:{{shared.hero.poison}}</div>
    <div class="stats">G:{{shared.hero.gold}}</div>
    <div class="stats">X:{{shared.hero.exp}}</div>
</div>