<app-home-village *ngIf="!shared.maze || shared.hero.life <= 0"></app-home-village>
<app-maze-map *ngIf="shared.maze && shared.hero.life > 0"></app-maze-map>
<div class="panel-menu-list top-left-menu">
    <div class="stats" (click)="shared.quitGame()">Q</div>
</div>
<div class="panel-menu-list top-right-menu">
    <svg viewBox="0 0 100 100">
        <g id="lifecounter">
            <path
                id="path902-3"
                d="M 15.457361,4.4301531 A 29.28933,29.28933 0 0 0 4.7367206,44.440118 L 34.026072,95.170734 84.756631,65.881393 A 29.28933,29.28933 0 0 0 95.477271,25.871428 29.28933,29.28933 0 0 0 55.467352,15.150809 29.28933,29.28933 0 0 0 15.457361,4.4301531 Z"
                style="display:inline;opacity:1;vector-effect:none;fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:3.60484076;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
            <text
                transform="rotate(15)"
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none"
                x="57.498627"
                y="50.26086"
                id="text937"><tspan
                id="tspan935"
                x="57.498627"
                y="50.26086">{{shared.hero.life}}</tspan></text>
            <text
                id="text941"
                y="96.46447"
                x="98.920479"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:42.66666794px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:end;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:end;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none"
                xml:space="preserve"><tspan
                y="96.46447"
                x="98.920479"
                id="tspan939">{{shared.hero.maxlife}}</tspan></text>
        </g>
    </svg>
    <svg viewBox="0 0 100 100">
        <g id="manacounter">
            <path
                id="path1410"
                d="M 48.136562,-8.9054631e-5 A 50,50 45 0 0 1.4041964,37.019616 50,50 45 0 0 18.08056,88.633541 20.785423,20.785423 0 0 1 18.642969,85.561132 20.785423,20.785423 0 0 1 44.099482,70.863807 20.785423,20.785423 0 0 1 58.796807,96.32032 20.785423,20.785423 0 0 1 57.746047,99.2457 50,50 45 0 0 97.996779,62.901521 50,50 45 0 0 76.015438,7.4963196 14.471971,14.471971 0 0 1 58.569589,16.86063 14.471971,14.471971 0 0 1 48.136562,-8.9054631e-5 Z"
                style="display:inline;opacity:1;vector-effect:none;fill:#9955ff;fill-opacity:1;stroke:none;stroke-width:5.14259481;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
            <text
                id="text1289"
                y="49.673241"
                x="59.691658"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none"
                xml:space="preserve"
                transform="rotate(15)"><tspan
                y="49.673241"
                x="59.691658"
                id="tspan1287">{{shared.hero.mana}}</tspan></text>
            <text
                xml:space="preserve"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:42.66666794px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:end;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:end;fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none"
                x="98.920479"
                y="96.46447"
                id="text1293"><tspan
                id="tspan1291"
                x="98.920479"
                y="96.46447">{{shared.hero.maxmana}}</tspan></text>
        </g>
    </svg>
    <div class="stats" *ngIf="shared.hero.poison > 0">P:{{shared.hero.poison}}</div>
    <div class="stats">G:{{shared.hero.gold}}</div>
    <div class="stats">X:{{shared.hero.exp}}</div>
</div>