<app-home-village *ngIf="shared.hero.location === 'village'"></app-home-village>
<app-wilderness-map *ngIf="shared.hero.location === 'wilderness'"></app-wilderness-map>
<app-maze-map *ngIf="shared.hero.location === 'maze'"></app-maze-map>

<div class="panel-menu-list top-left-menu">
    <div class="stats" (click)="shared.quitGame()">Quit</div>
</div>
<div class="panel-menu-list top-right-menu">
    <svg viewBox="0 0 100 100">
        <g app-life-counter [value]="shared.hero.life" [maxvalue]="shared.hero.maxlife" [badvalue]="shared.hero.poison"></g>
    </svg>
    <svg viewBox="0 0 100 100">
        <g app-mana-counter [value]="shared.hero.mana" [maxvalue]="shared.hero.maxmana" [badvalue]="shared.hero.shadow"></g>
    </svg>
    <svg viewBox="0 0 100 100">
        <g app-gold-counter [value]="shared.hero.gold"></g>
    </svg>
    <svg viewBox="0 0 100 100">
        <g app-exp-counter [value]="shared.hero.exp"></g>
    </svg>
</div>