<div class="fullpage splitview">
    <div class="splithalf">
        <svg viewBox="0 0 100 100"><g app-npc-village-chief></g></svg>
        <div class="dialog-button" (click)="clickClose()">Esci</div>
    </div>
    <div class="splithalf">
        <div *ngIf="quests.length > 0" class="dialog-message">Abbiamo bisogno del tuo aiuto!</div>
        <ng-container *ngFor="let quest of quests" >
            <div class="dialog-button" (click)="clickQuest(quest)">
                <svg viewBox="0 0 100 100">
                    <g app-quest-placeholder [quest]="quest"></g>
                </svg>
                {{quest.title}}
                {{shared.quests.done.includes(quest.name) ? 'Fatta!' : ''}}
                {{shared.quests.active.includes(quest.name) ? 'in corso...' : ''}}
            </div>
            <ng-container *ngIf="(details === quest.name) && shared.quests.active.includes(quest.name)">
                <div *ngFor="let text of quest.request" class="dialog-message">{{text}}</div>
            </ng-container>
            <ng-container *ngIf="(details === quest.name) && shared.quests.done.includes(quest.name)">
                <div *ngFor="let text of quest.thanks" class="dialog-message">{{text}}</div>
            </ng-container>
        </ng-container>
    </div>
</div>
