<svg:g id="npc-bg-02">
    <svg:circle
        r="50"
        cy="50"
        cx="50"
        id="circle2023"
        style="display:inline;opacity:1;vector-effect:none;fill:#ffeeaa;fill-opacity:1;stroke:none;stroke-width:11.4285717;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
    <svg:path
        style="fill:#d4aa00;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
        d="M 50,0 A 50,50 0 0 0 0,50 50,50 0 0 0 5.8925781,73.46875 L 96.263672,68.892578 A 50,50 0 0 0 100,50 50,50 0 0 0 50,0 Z"
        id="path2026" />
</svg:g>
<svg:g app-npc-healer *ngIf="npc === 'healer'"></svg:g>
<svg:g app-npc-village-chief *ngIf="npc === 'chief'"></svg:g>
