<div class="fullpage splitview">
<div class="splithalf">
    <svg viewBox="0 0 100 100">
        <g app-open-inventory></g>
    </svg>
    <div class="dialog-button enabled-true" (click)="clickClose()">
        Esci
    </div>
</div>
<div class="splithalf">
    <div class="dialog-message">Inventario del tuo equipaggiamento</div>
    <div class="dialog-button" class="enabled-{{inv.enabled}}" *ngFor="let inv of inventory" click="clickItem(inv)">
        <svg viewBox="0 0 100 100">
            <g app-item-placeholder [item]="inv.item"></g>
        </svg>
        {{inv.item.name}}
    </div>
</div>
</div>
