<svg class="fullsvg" [attr.viewBox]="viewBox()">
<g *ngFor="let row of shared.maze.rows">
   <g *ngFor="let cell of row" [style]="position(cell)">
      <g *ngIf="isDrawable(cell)" (click)="draw(cell)">
         <path
            style="opacity:0.7;vector-effect:none;fill:#000000;fill-opacity:1;stroke:none;stroke-width:9.05211735;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
            d="M 0,0 H 100 V 100 H 0 Z"
            class="clickable" />
      </g>      
      <g *ngIf="isDrawn(cell) || showall"
         class="tile north-{{cell.north}} south-{{cell.south}} east-{{cell.east}} west-{{cell.west}}">
         <path
            style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;stroke:none;stroke-width:9.05211735;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
            d="M 0,0 H 100 V 100 H 0 Z"
            class="wall" />
         <path
            class="west"
            d="M 0,40 H 60 V 60 H 0 Z"
            style="opacity:1;vector-effect:none;fill:#cccccc;fill-opacity:1;stroke:none;stroke-width:3.13574553;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
         <path
            style="opacity:1;vector-effect:none;fill:#cccccc;fill-opacity:1;stroke:none;stroke-width:3.13574553;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
            d="M 60,0 V 60 H 40 V 0 Z"
            class="north" />
         <path
            class="east"
            d="M 100,60 H 40 V 40 h 60 z"
            style="opacity:1;vector-effect:none;fill:#cccccc;fill-opacity:1;stroke:none;stroke-width:3.13574553;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
         <path
            class="south"
            d="m 60,40 v 60 H 40 V 40 Z"
            style="opacity:1;vector-effect:none;fill:#cccccc;fill-opacity:1;stroke:none;stroke-width:3.13574553;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
         <path
            style="opacity:1;vector-effect:none;fill:#cccccc;fill-opacity:1;stroke:none;stroke-width:7.24169493;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
            d="M 90,90 H 10 V 10 h 80 z"
            class="room" />
         <text 
            id="text58"
            y="56.906666"
            x="50.061874"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.66666603px;line-height:1.25;font-family:Garuda;-inkscape-font-specification:'Garuda, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none"
            xml:space="preserve"><tspan
               y="56.906666"
               x="50.061874"
               id="tspan56">{{distance(cell)}}</tspan></text>
      </g>
      <g id="mob" *ngIf="isDrawn(cell) || showall" (click)="clickMonster(cell)">
         <g app-mob-skeleton *ngIf="mobs[explorer.coords(cell)] === 'skeleton'"></g>
         <g app-mob-chest *ngIf="mobs[explorer.coords(cell)] === 'chest'"></g>
         <g *ngIf="mobs[explorer.coords(cell)] === 'exit'"
            id="exit">
            <path
               style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;stroke:none;stroke-width:6.29921293;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
               d="M 50 10 A 25 25 0 0 0 25 35 A 25 25 0 0 0 25.283203 38.582031 C 25.102972 39.115386 25 39.685535 25 40.28125 L 25 79.71875 C 25 82.644461 27.355539 85 30.28125 85 L 69.71875 85 C 72.644461 85 75 82.644461 75 79.71875 L 75 40.28125 C 75 39.680527 74.896036 39.10554 74.712891 38.568359 A 25 25 0 0 0 75 35 A 25 25 0 0 0 50 10 z "
               id="rect844" />
         </g>
      </g>
      <g *ngIf="!isDrawn(cell) && showall" (click)="draw(cell)">
         <path
            style="opacity:0.7;vector-effect:none;fill:#000000;fill-opacity:1;stroke:none;stroke-width:9.05211735;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
            d="M 0,0 H 100 V 100 H 0 Z"
            class="clickable" />
      </g>      
   </g>
</g>
</svg>

<app-fight-mob *ngIf="encounter" [mob]="encounter" (done)="doneMonster($event)"></app-fight-mob>
