<svg:g id="expcounter">
<svg:path
    d="M 91.563273,73.996567 80.16207,80.162071 73.996567,91.563273 61.040084,91.202155 50,97.993134 38.959916,91.202154 26.003433,91.563273 19.837929,80.16207 8.436727,73.996567 8.7978454,61.040084 2.0068665,50 8.7978456,38.959916 8.4367272,26.003433 19.83793,19.837929 26.003433,8.436727 38.959916,8.7978454 50,2.0068665 61.040084,8.7978456 73.996567,8.4367272 80.162071,19.83793 91.563273,26.003433 91.202155,38.959916 97.993134,50 91.202154,61.040084 Z"
    id="path2383"
    style="display:inline;opacity:1;vector-effect:none;fill:#afe9dd;fill-opacity:1;stroke:#217867;stroke-width:4.01380157;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
<svg:text *ngIf="value > 99"
    transform="rotate(15)"
    xml:space="preserve"
    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:45.0227623px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;display:inline;fill:#217867;fill-opacity:1;stroke:none;stroke-width:1.40696132;stroke-miterlimit:4;stroke-dasharray:none;"
    x="61.279915"
    y="49.644791"
    id="text2364"><svg:tspan
        style="fill:#217867;fill-opacity:1;stroke:none;stroke-width:1.40696132;"
        id="tspan2362"
        x="61.279915"
        y="49.644791">{{value}}</svg:tspan></svg:text>
<svg:text *ngIf="value > 9 && value < 100"
    id="text2360"
    y="56.36956"
    x="61.300007"
    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:66.21096802px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;display:inline;fill:#217867;fill-opacity:1;stroke:none;stroke-width:2.06909275;stroke-miterlimit:4;stroke-dasharray:none;"
    xml:space="preserve"
    transform="rotate(15)"><svg:tspan
        y="56.36956"
        x="61.300007"
        id="tspan2358"
        style="fill:#217867;fill-opacity:1;stroke:none;stroke-width:2.06909275;">{{value}}</svg:tspan></svg:text>
<svg:text  *ngIf="value < 10"
    transform="rotate(15)"
    xml:space="preserve"
    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:89.48666382px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;display:inline;fill:#217867;fill-opacity:1;stroke:none;stroke-width:2.79645824;stroke-miterlimit:4;stroke-dasharray:none;"
    x="61.322063"
    y="63.75687"
    id="text2368"><svg:tspan
        style="fill:#217867;fill-opacity:1;stroke:none;stroke-width:2.79645824;"
        id="tspan2366"
        x="61.322063"
        y="63.75687">{{value}}</svg:tspan></svg:text>
</svg:g>
