<!-- <svg:g #mobDirective appMobContainer></svg:g> -->
<svg:circle cx="50" cy="50" r="50" style="fill:cyan; opacity: 0;"></svg:circle>
<svg:g app-mob-skeleton *ngIf="mob.name === 'skeleton'" [mob]="mob"></svg:g>
<svg:g app-mob-chest *ngIf="mob.name === 'chest'"></svg:g>
<svg:g app-mob-spider *ngIf="mob.name === 'spider'"></svg:g>
<svg:g app-mob-troll *ngIf="mob.name === 'troll'"></svg:g>
<svg:g app-mob-exit *ngIf="mob.name === 'exit'"></svg:g>
<svg:g app-mob-scraps *ngIf="mob.name === 'scraps'"></svg:g>
<svg:g app-mob-shadow *ngIf="mob.name === 'shadow'"></svg:g>
<svg:g app-item-crystal *ngIf="mob.name === 'crystal'"></svg:g>
<svg:g app-mob-tomb *ngIf="mob.name === 'tomb'"></svg:g>
<svg:g app-mob-ghost *ngIf="mob.name === 'ghost'"></svg:g>
