<svg:filter
    height="2.2"
    y="-0.6"
    width="2.2"
    x="-0.6"
    id="filter1739"
    style="color-interpolation-filters:sRGB">
    <svg:feGaussianBlur
        id="feGaussianBlur1741"
        stdDeviation="4.7767859" />
</svg:filter>

<svg:g id="npchealer">
<svg:circle
    r="9.5535717"
    cy="40.11467"
    cx="26.721809"
    id="circle1055"
    style="opacity:1;vector-effect:none;fill:#aaaaff;fill-opacity:1;stroke:none;stroke-width:0.80451131;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke;filter:url(#filter1077)" />
<svg:circle
    style="opacity:1;vector-effect:none;fill:none;fill-opacity:1;stroke:#aaaaff;stroke-width:0.80451131;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
    id="path1053"
    cx="26.721809"
    cy="40.11467"
    r="9.5535717" />
<svg:circle
    style="opacity:1;vector-effect:none;fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:0.80451131;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke;filter:url(#filter1739)"
    id="circle1081"
    cx="74.221809"
    cy="40.11467"
    r="9.5535717" />
<svg:circle
    r="9.5535717"
    cy="40.11467"
    cx="74.221809"
    id="circle1083"
    style="opacity:1;vector-effect:none;fill:none;fill-opacity:1;stroke:#ff0000;stroke-width:0.80451131;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
<svg:circle
    style="opacity:1;vector-effect:none;fill:#aaaaff;fill-opacity:1;stroke:none;stroke-width:0.52804852;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
    id="circle1737"
    cx="26.721809"
    cy="40.11467"
    r="6.270576" />
<svg:path
    style="fill:#f4eed7;stroke:#6c6753;stroke-width:1;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
    d="M 43.890136,67.538473 45.069818,56.8614 34.193128,55.544362 30.445726,44.911528 25.643782,44.207339 26.625006,72.083183 Z"
    id="path1025" />
<svg:path
    style="fill:#f4eed7;stroke:#6c6753;stroke-width:1;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
    d="M 39.507307,82.033151 37.584755,71.266858 44.121433,57.039972 h 14.226888 l 1.538041,13.457867 -1.153531,13.842376 z"
    id="path972" />
<svg:path
    style="opacity:1;vector-effect:none;fill:#803300;fill-opacity:1;stroke:none;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
    d="m 48.238954,85.559577 c 0,1.638807 -3.05276,1.452094 -6.81853,1.452094 -3.76577,0 -6.818529,0.722427 -6.818529,-0.91638 0,-1.638807 5.463473,-3.503037 9.229243,-3.503037 3.76577,0 4.407816,1.328516 4.407816,2.967323 z"
    id="path1015" />
<svg:circle
    style="opacity:1;vector-effect:none;fill:#ffccaa;fill-opacity:1;stroke:#ff6600;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
    id="path970"
    cx="50.465179"
    cy="47.290379"
    r="9.6127625" />
<svg:path
    id="path1019"
    d="m 58.464974,85.559577 c 0,1.638807 -1.693623,1.452094 -3.782815,1.452094 -2.089191,0 -3.782815,0.186713 -3.782815,-1.452094 0,-1.638807 1.693624,-2.967323 3.782815,-2.967323 2.089192,0 3.782815,1.328516 3.782815,2.967323 z"
    style="opacity:1;vector-effect:none;fill:#803300;fill-opacity:1;stroke:none;stroke-width:2.97935462;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
<svg:path
    style="fill:#aa4400;stroke:#803300;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:round;stroke-opacity:1"
    d="m 39.395949,67.296312 c 6.268189,2.793794 13.289827,1.820341 20.203051,1.38896 l 0.287362,1.812567 -0.161093,1.975505 c -7.164966,2.010515 -14.349164,3.75177 -21.844549,1.136421 l -0.295965,-2.342907 z"
    id="path1051" />
<svg:circle
    r="6"
    cy="40.11467"
    cx="74.221809"
    id="circle1743"
    style="opacity:1;vector-effect:none;fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:0.80451131;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
<svg:path
    id="path1021"
    d="M 57.742289,67.717045 56.562607,57.039972 67.439297,55.722934 71.186699,45.0901 75.988643,44.385911 75.007419,72.261755 Z"
    style="fill:#f4eed7;stroke:#6c6753;stroke-width:1;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
<svg:path
    style="opacity:1;vector-effect:none;fill:#ffccaa;fill-opacity:1;stroke:#ff6600;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
    d="m 44.840439,53.882269 c -1.408447,0.652045 -3.038941,0.474015 -4.114345,-0.449245 -1.075406,-0.923261 -1.378094,-2.404913 -0.763798,-3.738755 0.614296,-1.333847 2.021269,-2.249955 3.55031,-2.311688"
    id="path976" />
<svg:circle
    style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.25892857;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
    id="path1007"
    cx="43.660713"
    cy="45.419285"
    r="1.2946428" />
<svg:circle
    r="0.89285713"
    cy="45.821072"
    cx="47.353924"
    id="circle1009"
    style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.17857143;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
<svg:path
    id="path1030"
    d="m 30.445726,44.911528 -4.801944,-0.704189 0.981224,27.875844 c 5.007589,-4.67552 3.417772,-9.451794 3.82072,-27.171655 z"
    style="fill:#e9ddaf;fill-opacity:1;stroke:#6c6753;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
<svg:path
    style="fill:#e9ddaf;fill-opacity:1;stroke:#6c6753;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
    d="m 70.822353,44.911528 4.801944,-0.704189 -0.981224,27.875844 c -5.007589,-4.67552 -3.417772,-9.451794 -3.82072,-27.171655 z"
    id="path1032" />
<svg:g
    style="stroke:#ff6600"
    id="g1047"
    transform="translate(60.609152,7.8286826)">
    <svg:path
        style="opacity:1;vector-effect:none;fill:#ffccaa;fill-opacity:1;stroke:#ff6600;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
        d="m 18.056477,30.804551 -0.828957,3.066045 c -0.07857,1.528268 -1.010123,2.925065 -2.350655,3.52463 -1.340528,0.599566 -2.818756,0.280576 -3.730115,-0.804935 -0.911357,-1.085509 -1.071417,-2.717865 -0.403897,-4.119044 l 1.189574,-3.371328"
        id="path1034" />
    <svg:path
        id="path1036"
        d="m 14.20527,29.036784 -1.010153,3.030458"
        style="fill:#ff9955;fill-opacity:1;stroke:#ff6600;stroke-width:1px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1" />
    <svg:path
        style="fill:#ff9955;fill-opacity:1;stroke:#ff6600;stroke-width:1px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1"
        d="m 16.099306,29.54186 -1.010153,3.030458"
        id="path1038" />
    <svg:path
        id="path1040"
        d="M 8.8190286,32.469571 10.2476,35.326715"
        style="fill:#ff9955;fill-opacity:1;stroke:#ff6600;stroke-width:1px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1" />
</svg:g>
<svg:use
    x="0"
    y="0"
    xlink:href="#g1047"
    id="use1049"
    transform="matrix(-1,0,0,1,101.87801,-4.5210051e-8)"
    width="100%"
    height="100%" />
<svg:path
    style="fill:#f4eed7;fill-opacity:1;stroke:#6c6753;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:round;stroke-opacity:1"
    d="m 43.815366,40.022193 -1.38896,-5.177032 c 4.92313,-2.98595 10.320803,-3.883911 16.920055,0.505076 l -1.010152,6.565992 C 53.923974,39.430308 49.233115,38.15132 43.815366,40.022193 Z"
    id="path1087" />
<svg:circle
    style="opacity:1;vector-effect:none;fill:#a05a2c;fill-opacity:1;stroke:none;stroke-width:0.17857143;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
    id="circle1089"
    cx="49.49678"
    cy="54.749641"
    r="0.89285713" />
</svg:g>
