<svg:g id="chest">
    <svg:path class="fall-in-item"
        style="fill:#a05a2c;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:6;stroke-dasharray:none;stroke-opacity:1"
        d="M 28.74167,75.610578 H 70.570497 L 75.060592,47.724699 24.960544,45.125168 Z"
        id="path882" />
    <svg:path class="fall-in-item"
        id="path884"
        d="m 29.686961,31.418542 41.119858,1.890582 4.253773,14.415575 -50.100048,-2.599531 z"
        style="fill:#a05a2c;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:6;stroke-dasharray:none;stroke-opacity:1" />
    <svg:rect class="fall-in-item" 
        style="opacity:1;vector-effect:none;fill:#808080;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:6;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
        id="rect869"
        width="17.713043"
        height="17.713043"
        x="42.535427"
        y="41.789783"
        ry="0.54027086" />
    <svg:path class="fall-in-item" 
        style="opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;stroke:none;stroke-width:2.07480025;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
        d="m 51.356093,43.914226 a 3.4048544,3.4048544 0 0 0 -3.405615,3.405616 3.4048544,3.4048544 0 0 0 2.106168,3.14616 l -1.371409,6.434016 5.356967,0.492747 -0.972411,-7.13389 a 3.4048544,3.4048544 0 0 0 1.691897,-2.939033 3.4048544,3.4048544 0 0 0 -3.405597,-3.405616 z"
        id="path871" />
</svg:g>
