<svg:g
    id="manacounter"
    style="display:inline">
<svg:path
    id="path1410"
    d="M 48.435399,0.37710548 A 50,50 0 0 0 1.7030339,37.396811 50,50 0 0 0 18.379397,89.010736 20.785423,20.785423 0 0 1 18.941806,85.938327 20.785423,20.785423 0 0 1 44.398319,71.241002 20.785423,20.785423 0 0 1 59.095644,96.697515 20.785423,20.785423 0 0 1 58.044884,99.622895 50,50 0 0 0 98.295616,63.278716 50,50 0 0 0 76.314275,7.8735141 14.471971,14.471971 0 0 1 58.868426,17.237825 14.471971,14.471971 0 0 1 48.435399,0.37710548 Z"
    style="display:inline;opacity:1;vector-effect:none;fill:#aaaaff;fill-opacity:1;stroke:none;stroke-width:5.14259481;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
<svg:g *ngIf="maxvalue">
    <svg:text 
        xml:space="preserve"
        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:42.66666794px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:end;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:end;display:inline;fill:#aaaaff;fill-opacity:1;stroke:#aaaaff;stroke-width:3;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        x="98.813484"
        y="97.208344"
        id="text1976-0"><svg:tspan
            id="tspan1974-9"
            x="98.813484"
            y="97.208344">{{maxvalue}}</svg:tspan></svg:text>
    <svg:text
        id="text941-9"
        y="97.208344"
        x="98.813484"
        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:42.66666794px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:end;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:end;display:inline;fill:#0044aa;fill-opacity:1;stroke:none;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none"
        xml:space="preserve"><svg:tspan
            y="97.208344"
            x="98.813484"
            id="tspan939-4">{{maxvalue}}</svg:tspan></svg:text>
</svg:g>
<svg:g  *ngIf="badvalue">
    <svg:text
        id="text1980-5"
        y="97.208344"
        x="1.3134865"
        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:42.66666794px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#dd55ff;fill-opacity:1;stroke:#dd55ff;stroke-width:3;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        xml:space="preserve"><svg:tspan
            y="97.208344"
            x="1.3134865"
            id="tspan1978-1">{{badvalue}}</svg:tspan></svg:text>
    <svg:text
        xml:space="preserve"
        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:42.66666794px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#660080;fill-opacity:1;stroke:none;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none"
        x="1.3134865"
        y="97.208344"
        id="text1984-0"><svg:tspan
            id="tspan1982-3"
            x="1.3134865"
            y="97.208344">{{badvalue}}</svg:tspan></svg:text>
</svg:g>
<svg:text *ngIf="value"
    transform="rotate(15)"
    xml:space="preserve"
    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64px;line-height:1.25;font-family:'AR JULIAN';-inkscape-font-specification:'AR JULIAN, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;display:inline;fill:#0044aa;fill-opacity:1;stroke:none;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none"
    x="61.246799"
    y="50.026649"
    id="text937-2"><svg:tspan
        id="tspan935-9"
        x="61.246799"
        y="50.026649">{{value}}</svg:tspan></svg:text>
</svg:g>
