.spiritWings {
    fill:#deca87;
    stroke:#805700;
    stroke-width:1;
    stroke-linecap:butt;
    stroke-linejoin:round;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
}