.pattern1 {
    fill:#deca87;
    stroke:#805700;
}
.pattern2 {
    fill:#a0de87;
    stroke:#158000;
}
.pattern3 {
    fill:#de8d87;
    stroke:#800000;
}
.pattern4 {
    fill:#87b1de;
    stroke:#005780;
}
.pattern5 {
    fill:#e1e1e1;
    stroke:#555555;
}