/* You can add global styles to this file, and also import other style files */

svg {
    user-select: none;
}

.modal-svg {
    background-color: rgba(0, 0, 0, 0.5);
}

.button {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    font-size: large;
}

.stats {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    margin: 2px;
    font-size: large;
}

// svg maze
.north-wall .north {
    display: none;
}
.south-wall .south {
    display: none;
}
.east-wall .east {
    display: none;
}
.west-wall .west {
    display: none;
}
