/* You can add global styles to this file, and also import other style files */

svg {
    user-select: none;
}

.modal-svg {
    background-color: rgba(0, 0, 0, 0.5);
}

// svg maze
.north-wall .north {
    display: none;
}
.south-wall .south {
    display: none;
}
.east-wall .east {
    display: none;
}
.west-wall .west {
    display: none;
}
