<div class="fullpage splitview">
<div class="splithalf">
    <svg viewBox="0 0 100 100">
        <g app-npc-placeholder npc="healer"></g>
    </svg>
    <div class="dialog-button enabled-true" (click)="clickClose()">
        Esci
    </div>
</div>
<div class="splithalf">
    <div class="dialog-message">"Come posso esserti utile?"</div>
    <div *ngFor="let item of items" class="dialog-button enabled-{{item.enabled}}" (click)="clickBuyItem(item)">
        <svg viewBox="0 0 100 100">
            <g *ngIf="item.name === 'heal'" transform="translate(0,25) scale(0.75)">
              <g transform="scale(0.6)"><g app-life-counter [value]="'*'"></g></g>
              <g transform="translate(40,40) scale(0.6)"><g app-mana-counter [value]="'*'"></g></g>
            </g>
            <g *ngIf="item.name === 'levelUpLife'" transform="translate(0,25) scale(0.75)">
                <g app-life-counter [value]="'+1'"></g>
            </g>
            <g *ngIf="item.name === 'levelUpMana'" transform="translate(0,25) scale(0.75)">
                <g app-mana-counter [value]="'+1'"></g>
            </g>
            <g *ngIf="item.currency === 'gold'" app-gold-cost [cost]="item.cost - item.discount"></g>
            <g *ngIf="item.currency == 'exp'" app-exp-cost [cost]="item.cost - item.discount"></g>
        </svg>
        {{item.title}}
    </div>
</div>
</div>
