<svg:g id="castspell">

    <svg:filter
        height="1.2397086"
        y="-0.11985432"
        width="1.2402921"
        x="-0.12014603"
        id="filter1187"
        style="color-interpolation-filters:sRGB">
        <svg:feGaussianBlur
            id="feGaussianBlur1189"
            stdDeviation="1.158913" />
    </svg:filter>

    <svg:filter
        height="1.2385122"
        y="-0.11925611"
        width="1.2415065"
        x="-0.12075323"
        id="filter1199"
        style="color-interpolation-filters:sRGB">
        <svg:feGaussianBlur
            id="feGaussianBlur1201"
            stdDeviation="0.82791629" />
    </svg:filter>

    <svg:path
        transform="matrix(3.81698,0,0,3.81698,-20.939702,-16.106868)"
        id="path1205"
        d="M 18.014179,9.2213902 C 9.5344789,9.2660502 7.3809699,22.381963 15.410664,25.12764 23.1602,28.830093 30.809212,17.672805 24.537617,11.78389 22.882503,10.019118 20.427877,9.0544802 18.014179,9.2213902 Z"
        style="display:inline;opacity:1;vector-effect:none;fill:#d5d5ff;fill-opacity:1;stroke:none;stroke-width:0.52804852;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke;filter:url(#filter1199)" />
    <svg:circle
        r="23.934662"
        cy="50.588531"
        cx="49.816952"
        id="circle1207"
        style="display:inline;opacity:1;vector-effect:none;fill:#aaaaff;fill-opacity:1;stroke:none;stroke-width:2.01555061;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
    <svg:circle
        style="display:inline;opacity:1;vector-effect:none;fill:none;fill-opacity:1;stroke:#aaaaff;stroke-width:3.0708034;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
        id="circle1209"
        cx="49.816952"
        cy="50.588531"
        r="36.46579" />
    <svg:path
        transform="matrix(3.81698,0,0,3.81698,-20.939702,-16.106868)"
        id="path1215"
        d="M 17.793476,5.9459992 C 7.1685459,6.0305792 2.9494489,21.644032 12.096211,27.063187 20.74437,33.61512 33.746609,23.283848 29.340351,13.381546 27.642631,8.7166522 22.744157,5.5593082 17.793476,5.9459992 Z"
        style="display:inline;opacity:1;vector-effect:none;fill:none;fill-opacity:1;stroke:#aaaaff;stroke-width:0.80451131;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke;filter:url(#filter1187)" />
    <svg:path
        style="fill:#ffccaa;fill-opacity:1;stroke:#ff6600;stroke-width:3.61668277;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        d="M 68.822266,96.287109 61.136719,67.197266 50.013672,72.767578 53.875,99.833984"
        id="path1397" />
    <svg:g
        transform="matrix(-3.9729454,0,0,3.9729454,106.21952,-78.441676)"
        id="g1047-1"
        style="display:inline;stroke:#ff6600;stroke-width:0.91032785;stroke-miterlimit:4;stroke-dasharray:none">
        <svg:path
            style="fill:#ffccaa;fill-opacity:1;stroke:#ff6600;stroke-width:0.91032785;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="m 9.0732864,31.579669 0.6644747,2.76725 1.1533709,0.324587 -0.08203,-2.513177"
            id="path1040-9" />
        <svg:path
            id="path1034-2"
            d="m 18.056477,30.804551 -0.828957,3.066045 c -0.07857,1.528268 -1.010123,2.925065 -2.350655,3.52463 -1.340528,0.599566 -2.818756,0.280576 -3.730115,-0.804935 -0.911357,-1.085509 -1.071417,-2.717865 -0.403897,-4.119044 l 1.189574,-3.371328"
            style="opacity:1;vector-effect:none;fill:#ffccaa;fill-opacity:1;stroke:#ff6600;stroke-width:0.91032785;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
        <svg:path
            style="fill:#ff9955;fill-opacity:1;stroke:#ff6600;stroke-width:0.91032785;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="M 15.436773,28.347142 14.3281,31.771681"
            id="path1036-7" />
        <svg:path
            id="path1038-0"
            d="m 16.887468,29.4926 -1.010153,3.030458"
            style="fill:#ff9955;fill-opacity:1;stroke:#ff6600;stroke-width:0.91032785;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
        <svg:path
            id="path1426"
            d="M 13.614148,28.445662 12.603995,31.47612"
            style="fill:#ff9955;fill-opacity:1;stroke:#ff6600;stroke-width:0.91032785;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    </svg:g>
</svg:g>
